@model IEnumerable<WebApplicationMVCSecure.Models.Address>

@foreach (var item in Model)
{
    string name = "boxedAddressListItem" + item.Id;

    <li id=@item.Id title=@name class="rounded-table my-border my-border-radius col-md-offset-1 @ViewBag.ItemListCSSClass col-xs-12" data-id=@item.Id @ViewBag.ItemListProperty>
        @{Html.RenderPartial("~/Views/Address/Widgets/BoxedAddressItem.cshtml", item);}
    </li>
            }
